.appLayout {
  display: flex;
  
  /* min-height: 100vh; */
  /* height: 100vh; */
}
body{
  /* padding-top: 20px; */
  /* margin-top: 20px; */
  width: 100%;
  overflow-y: auto;
  
  /* max-height: max-content; */
}
.header{
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: #2c3e50;
  border:#ecf0f1 4px;
  padding: 10px 20px;
  top: 0;
}
/* ปรับปรุงการทำงานของ Sidebar */
.sidebar {
  width: 250px;
  background-color: #2c3e50;
  height: 100vh;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 0px;
  z-index: 1000;
  transition: transform 0.3s ease;
  position: fixed;
}
.sidebar.open {
  transform: translateX(0); /* เปิด Sidebar */
}
.sidebar.closed {
  transform: translateX(-100%); /* ซ่อน Sidebar */
}
.logo{
  display: flex;
  justify-content:left;
  color: #ecf0f1;
  align-items: center;
}


.sidebar .logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.navMenu {
  flex-grow: 1;
}

.navLink {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: background 0.3s;
}

.navLink:hover {
  background-color: #34495e;
}

.activeLink {
  border-right:5px solid #d4af37;
  /* ตัวอย่างสีที่เปลี่ยนเมื่อคลิก */
  /* background-color: #16a085; */
  color: #d4af37;
}

.logoutButton {
  background-color: #e74c3c;
  color: #ecf0f1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.logoutButton:hover {
  background-color: #c0392b;
}

.mainContent {
  flex-grow: 1;
  /* padding-top: 10px; */
  max-height: 100vh; 
  overflow-y: auto;
  box-sizing: border-box; 
  height: 100%; 
  margin-left: 15rem;
}
.bodyinmain{
  margin-left: 15rem;
}

.open {
  transform: translateX(0);
}

/* Hamburger menu icon */
.menuIcon {
  display: none; /* hide the menu icon by default */
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #7e8080;
  margin: 5px 0;
}


/* Media Query for small screens */
@media (max-width: 1024px) {
   .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* เริ่มต้นซ่อน */
  }

  .sidebar.open {
    left: 0; /* แสดงเมื่อเปิด */
  }

  .menuIcon {
    display: block; /* Show the hamburger menu icon */
  }

  .appLayout {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0;
  }
}


