.btnAction{
  background-color: #3b82f6;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-left: 0.25rem;
}
.btnAction:hover{
  background-color: #2563eb;
}

.btnCancel{
  background-color: #f43f5e;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-left: 0.25rem;
}

.btnCancel:hover{
  background-color: #e11d48;
}
.trash{
  color: #e11d48;
}